streamlit
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langgraph

chromadb
sentence-transformers
huggingface-hub

google-generativeai
google-api-python-client>=2.100.0
google-search-results

wikipedia
requests
protobuf
pydantic
typing_extensions
