langchain
langchain-core
langchain-community
langchain-huggingface
google-generativeai
langchain-google-community
langgraph
chromadb
protobuf
pydantic
typing_extensions
requests
streamlit
wikipedia
google-api-python-client>=2.100.0
langchain-chroma
huggingface-hub
sentence-transformers
google-search-results